/*
Authors: Francis Bautista and Eyana Mallari
Description: Data visualization of historical traffic data to give percentage predictions of traffic volumes.
Created At: February 28, 2015
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

#about_head {
	background: url(../assets/splash_img.jpg) no-repeat center center fixed;
	/*-webkit-filter: blur(5px);*/
	/*-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	z-index: 1;*/
}
.navbar-inverse {
	margin-bottom:0;
}

section { height: 100vh; }

.about_splash {
	margin-top: 15em;
	/*z-index: 999;
	position: fixed;*/
}

.about_desc {
	color: white;
	margin:0;
	font-size: 1.2em;
}

#support_text {
	margin-top:0;
	padding-top:0;
	color: #fff;
	font-size: 1.5em;
}
div.image#pie_img {
	content:url(../assets/pie_chart.png);
	margin-top: 5em;
}
div.image#line_img {
	content:url(../assets/line_chart.png);
	margin-top: 5em;
	width:750px; /* you can use % */
    height: auto;
}


.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 2;
	shape-rendering: crispEdges;
}

.selectors{
	margin-bottom: 2em;
	margin-top: 2em;
}


.time-slider{

}

.inside_nb{
	font-size: 5em;
	color: rgba(49, 130, 189, 0.8);
}

.inside_sb{
	font-size: 5em;
	color: rgba(51, 188, 49, 0.8);
}

.btn-round{
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
	padding: 0;
	margin-bottom: 0.25em;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;


}

.navbar-inverse {
background-color: #222;
border-color: #222;
}

.no-space{
	margin: 0 auto;
	padding: 0 auto;
}

.btn-default {
	border: none;
	background-color: rgba(255,255,255,0.4);
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus{
	background-color: rgba(255,255,255,0.9);
}

.line_name,
.station_name,
.when,
.time{
	/*display:none;*/

}

.line_name,
.station_name{
	text-transform: uppercase;
	color: #aaa;
	font-size: 80%;
	background-color: rgba(141, 142, 142, 0.2);
	transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;

}

.when,
.time{
	text-transform: uppercase;
	color: #aaa;
	font-size: 80%;
	background-color: rgba(141, 142, 142, 0.2);
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

.label-default {

	text-decoration: normal;
}

.btn{
	color: rgba(0, 3, 51, 0.5);
}
.btn:hover{

	color: rgba(0, 3, 51, 0.5);
}

.btn:focus{
	outline: none;
}


.legend rect {
 fill:white;
 stroke:black;
 opacity:0.8; }


body {
  background-color: #393939;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: white;
  overflow-x: hidden;
}

.footer-text {
	color:#868787;

}

p {
  color: #393939;
  margin: 50px;

}

a {
  color: #4FDEF2;
}

/*text{
	 transform: rotate(295deg);
}*/

.axis {
  fill: gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
 /* font-size: 0.75em;*/
}

.axis .halo {
  stroke: gray;
  stroke-width: 4px;
  stroke-linecap: round;
}

.slider .handle path {
  stroke: white;
  stroke-width: 3px;
  stroke-linecap: round;
  pointer-events: none;
}

.slider .handle text {
  fill: white;
  text-align: center;
  font-size: 18px;
}

.panel {
	background-color: rgba(141, 142, 142, 0.2);
	border-radius: 0;
	border: none;
}

.panel > .panel-heading {
	background-color: rgba(141, 142, 142, 0.9);
	border-radius: 0;
	border: none;
}

.form-control {
	background-color: rgba(255, 255, 255, 0.95);

}

.axis path, .axis line
{
	fill: none;
	stroke: #777;
	shape-rendering: crispEdges;
}

.axis text
{
	font-family: 'Arial';
	font-size: 13px;
}
.tick
{
	stroke-dasharray: 1, 2;
}
.bar
{
	fill: FireBrick;
}

.onoffswitch {
	position: relative; width: 140px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 2px solid #999999; border-radius: 35px;
}
.onoffswitch-inner {
	display: block; width: 200%; margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
	font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
	content: "Northbound";
	padding-left: 17px;
	background-color: #EBEBEB; color: #393939;
}
.onoffswitch-inner:after {
	content: "Southbound";
	padding-right: 17px;
	background-color: #393939; color: #EBEBEB;
	text-align: right;
}
.onoffswitch-switch {
	display: block; width: 18px; margin: 6px;
	background: #FFFFFF;
	border: 2px solid #999999; border-radius: 35px;
	position: absolute; top: 0; bottom: 0; right: 106px;
	-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px;
}
